* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --color1: #fff;
    --color2: #242424;
    --color-project: #000;
}

body {
    background-color: var(--color2);
    color: var(--color1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color1);
    padding: 15px;
}

.navbar a {
    text-decoration: none;
    color: var(--color2);
}

.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}


.about-article{
    overflow: hidden;
    margin: 3rem;
    display: flex; /* Adiciona display flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
.about img {
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    height: 20rem;
    width: 15rem;
    float: left;
    margin-right: 2rem;
   
}
.about-p{
    max-width: 400px;
    border: 1px solid yellow;

}
.container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-project);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.projects {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Define no máximo 3 colunas */
    gap: 20px;
    /* Espaçamento entre os artigos */
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color1);

}

.project-content {
    display: flex;
}

.project-image img {
    height: 250px;
}

.project-text {
    margin: auto;
}

.project-image,
.project-text {
    flex: 1;
    padding: 5px;
    /* Adicione um espaçamento interno */
}

.contact{
    background-color: var(--color1);
}
.contact ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    list-style-type: none;
}

.contact img {
    height: 50px;
}